[Unit]
After=network-online.target
Description=Dogecoin daemon
Documentation=https://github.com/dogecoin/dogecoin/blob/master/doc/init.md
Wants=network-online.target

[Service]
ConfigurationDirectory=luckycoin
ConfigurationDirectoryMode=0710
ExecStart=/usr/local/bin/luckycoind \
  -conf=/etc/luckycoin/luckycoin.conf \
  -chain=${CHAIN}
ExecStartPre=/bin/chgrp luckycoin /etc/luckycoin
Group=luckycoin
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PermissionsStartOnly=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RuntimeDirectory=luckycoind
RuntimeDirectoryMode=0710
StateDirectory=luckycoind
StateDirectoryMode=0710
TimeoutStartSec=infinity
TimeoutStopSec=600
Type=simple
User=dogecoin

[Install]
WantedBy=multi-user.target
